/* Common */

    /* Header & Hero */
    body {
        color: #fb5012;
        background-color: #01fdf6;
        font-weight: 900;
    }
    
    header {
        text-align: center; 
     }
    
    #hero, footer {
        background-color: #e9df00;
        padding: 1em;
        border: 1em solid #cbbaed;
        border-radius: 1em;
    }
    #hero img {
        width: 25em;
        max-width: 100%;

    }

    /* Projects */
    #projects {
        border: 1em solid #cbbaed;
        border-radius: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
        text-align: center;
    }

    #projects h2 {
        grid-column: 1/-1;
    }

    #projects img {
        max-width: 100%;
        border: 0.25em solid #cbbaed;
    }    

    .project {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        padding: 1em;
    }
    /* Reviews */
    #reviews {
        border: 1em solid #cbbaed;
        border-radius: 1em;
        background-color: #e9df00;
        margin-top: 2em;
        margin-bottom: 2em;
        line-height: 50%;
    }
    #reviews h2 {
        text-align: center;
    }
    .review {
        border: 0.5em solid #cbbaed;
        background-color: #03fcba;
        border-radius: 1em;
        margin: 1em;
        padding-top: 0.2em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.2em;
    }

    /* Footer */

/* Styles for Mobile Site */
@media (min-width: 400px) {

/* Header & Hero */

/* Projects */
.project {
    display: grid;
    grid-template-columns: 2fr 1fr;
    ;
}

.description {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
    margin-left: 1rem;
}
/* Reviews */
#reviews {
    line-height: 100%;
}
/* Footer */

}
/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */
    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
    }

    #projects h2 {
        grid-column: 1/-1;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .description {
        font-size: 1em;
    }
    /* Reviews */

    /* Footer */

}