/* Styles for Mobile Site */

/* Header & Hero */

/* Projects */

/* Reviews */

/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    body {
        color: #fb5012;
        background-color: #01fdf6;
        font-weight: 900;
    }
    
    header {
        text-align: center; 
     }
    
    #hero, footer {
        background-color: #e9df00;
        padding: 1em;
        border: 1em solid #cbbaed;
        border-radius: 1em;
    }
    #hero img {
        width: 50em;
    }

    /* Projects */
    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 1em solid #cbbaed;
        border-radius: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #projects img {
        max-width: 30em;
     }
    #description {

    }
    /* Reviews */

    /* Footer */

}